@import '_extraBootstrap';
@import '_slick';

$orange: #fe7201;

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	position: relative;
}

h1 {
	font-weight: 700;
	font-size: 2.5em;
	margin-bottom: 20px;
}

h2 {
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 20px;
}

h4 {
	font-weight: 700;
	text-transform: uppercase;
	color: #b6b6b6;
	font-size: 0.75em;
}

p {
	margin-bottom: 20px;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
}

#footer {
	text-align: left;
	background: #333;
	color: #fff;
	padding-top: 40px;
	.copy {
		text-align: center;
		font-size: 0.5em;
		margin-top: 40px;
		margin-bottom: 10px;
	}
}

.btn {
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 0;
	transition: all .2s ease;
}

.btn-default {
	background: none;
	border: 1px solid #fff;
	color: #fff;
	&:hover, &:focus {
		border-color: $orange;
		color: $orange;
		background: none;
	}
}

.btn-primary {
	background: $orange;
	border-color: $orange;
	&:hover, &:focus {
		background: lighten($orange, 10%);
		border-color: lighten($orange, 10%);
	}
}

.navbar-default {
	background: transparent;
	border: none;
	z-index: 9;
	top: 0;
	left: 0;
	border-radius: 0;
	transition: all .3s ease;
	padding-top: 10px;
	padding-bottom: 4px;
	a {
		color: #fff;
	}
	.navbar-brand {
		padding: 0;
		img {
			max-height: 50px;
		}
	}
	.navbar-right {
		li a {
			transition: all .3s ease;
			color: #fff;
			padding: 10px 15px;
			font-size: 0.8em;
			&:hover {
				color: #f2f2f2;
			}
		}
	}
	.active a {
		background: none;
		color: $orange;
		border-bottom: 2px solid $orange;
	}
	.navbar-toggle {
		border: none;
		background: none !important;
		.icon-bar {
			background: $orange;
			width: 30px;
			height: 4px;
		}
	}
	.header-cta {
		font-weight: bold;
		border-radius: 3px;
		border: 1px solid #999;
		margin-right: 10px;
		transition: border-color .2s ease;
		&:hover {
			border-color: #fff;
		}
	}
}

#intro {
    background: transparent;
	background-size: 100%;
	min-height: 700px;
	color: #fff;
	padding-left: 0;
	padding-right: 0;
	.splash {
		padding-top: 150px;
		padding-left: 15px;
		padding-right: 15px;
		text-shadow: 0 1px 10px #000;
		h1 {
			text-transform: uppercase;
			margin-bottom: 40px;
			font-weight: bold;
		}
		p {
			margin-bottom: 40px;
		}
	}
}

.previous-funded {
	.col-md-3 {
		padding-left: 0;
		padding-right: 0;
		border-right: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
		img {
			opacity: 0.8;
			transition: opacity .2s ease;
		}
		&:hover > img {
			opacity: 1;
		}
		.previous-funded-info {
			padding-left: 15px;
			padding-right: 15px;
			h2 {
				color: $orange;
			}
			h2, h4 {
				text-align: center;
			}
			.left {
				font-weight: bold;
				color: #ddd;
			}
			.right {
				text-align: right;
			}
			p {
				margin-bottom: 10px;
			}
		}
	}
}

#solution {
	.row {
		padding: 80px 0;
		.col-md-6 {
			text-align: left;
		}
	}
	.part {
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
	}
}

#investors, #entrepreneurs {
	h1 {
		margin-bottom: 60px;
		span {
			color: $orange;
		}
	}
	h2 {
		color: $orange;
		margin-top: 20px;
	}
	i {
		color: $orange;
		border: 3px solid $orange;
		border-radius: 50%;
		padding: 22px 23px;
		background: #f2f2f2;
		font-size: 2em;
	}
	.row {
		margin-bottom: 40px;
	}
}

.slick {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #f2f2f2;
}

#quote {
	padding-top: 120px;
	padding-bottom: 120px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0px auto;
	blockquote {
		max-width: 800px;
		font-size: 1.5em;
		border-left: none;
		color: #fff;
		footer {
			color: #ddd;
		}
	}
}

#experience {
	h2 {
		color: #999;
		font-weight: 300;
		text-transform: uppercase;
		span {
			font-size: 2em;
			color: #333;
		}
	}
}

#logos {
	background: #333;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: 40px;
	img {
		margin: auto;
	}
}

.dads-bbq {
	background: #f2f2f2;
	#page-head {
		background: bottom center url('http://www.exposingtruth.com/wp-content/uploads/2014/03/bbqpork.jpg');
		color: #fff;
	}
	#page-content {
		#invest-widget {
			background: #333;
			padding: 20px;
			border-radius: 5px;
			text-align: center;
			.invest-details-box {
				background: #fff;
				padding: 10px;
			}
			table {
				color: #fff;
				font-size: 0.75em;
				border-color: #777;
				.text-left {
					color: #777;
					font-weight: bold;
				}
			}
		}
		.invest-btn-container {
			margin: 20px auto;
			text-align: center;
		}
	}
}

@media screen and ( min-width: 767px ) {
	.navbar-default {
		position: fixed;
		width: 100%;
	}
}