$color-primary: #fe7201;

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.75em;
	font-weight: 300;
	text-align: center;
	position: relative;
}

h1 {
	font-weight: 100;
	font-size: 2.5em;
	margin-bottom: 20px;
}

h2 {
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 20px;
}

h4 {
	font-weight: 700;
	text-transform: uppercase;
	color: #b6b6b6;
	font-size: 0.75em;
}

p {
	margin-bottom: 20px;
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
}

#footer {
	text-align: left;
	background: #333;
	color: #fff;
	padding-top: 40px;
	.copy {
		text-align: center;
		font-size: 0.5em;
		margin-top: 40px;
		margin-bottom: 10px;
	}
}

.btn {
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 0;
	transition: all .2s ease;
}

.btn-default {
	background: none;
	border: 1px solid #fff;
	color: #fff;
	&:hover, &:focus {
		border-color: $color-primary;
		color: $color-primary;
		background: none;
	}
}

.btn-primary {
	background: $color-primary;
	border-color: $color-primary;
	&:hover, &:focus {
		background: lighten($color-primary, 10%);
		border-color: lighten($color-primary, 10%);
	}
}

.navbar-default {
	background: transparent;
	border: none;
	z-index: 9;
	top: 0;
	left: 0;
	border-radius: 0;
	transition: all .3s ease;
	a {
		color: #fff;
	}
	.navbar-brand {
		padding: 0;
		img {
			max-height: 50px;
		}
	}
	.navbar-right {
		li a {
			transition: all .3s ease;
			color: #fff;
			font-weight: bold;
			&:hover {
				color: #f2f2f2;
			}
		}
	}
	.active a {
		background: none;
		color: $color-primary;
		border-bottom: 2px solid $color-primary;
	}
	.navbar-toggle {
		border: none;
		background: none !important;
		.icon-bar {
			background: $color-primary;
			width: 30px;
			height: 4px;
		}
	}
}

#intro {
    background: transparent;
	background-size: 100%;
	min-height: 900px;
	color: #fff;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	.splash {
		padding-top: 304px;
		padding-left: 15px;
		padding-right: 15px;
		text-shadow: 0 1px 10px #000;
		h1 {
			text-transform: uppercase;
			margin-bottom: 40px;
			font-weight: bold;
		}
		p {
			margin-bottom: 40px;
		}
	}
}

#solution {
	.row {
		padding: 80px 0;
		.col-md-6 {
			text-align: left;
		}
	}
	.part {
		border-top: 1px solid #f2f2f2;
		border-bottom: 1px solid #f2f2f2;
	}
}

#quote {
	padding-top: 80px;
	padding-bottom: 80px;
	font-weight: 300;
	text-transform: uppercase;
	margin: 0px auto;
	background: #f2f2f2;
	blockquote {
		max-width: 1200px;
		font-size: 1.5em;
		border-left: none;
	}
}

#experience {
	h2 {
		color: #999;
		font-weight: 300;
		text-transform: uppercase;
		span {
			font-size: 2em;
			color: #333;
		}
	}
}

#logos {
	background: #333;
	padding-top: 60px;
	padding-bottom: 60px;
	margin-top: 40px;
	img {
		margin: auto;
	}
}

@media screen and ( min-width: 767px ) {
	.navbar-default {
		position: fixed;
		width: 100%;
	}
}